.nrta {
  resize: none;
  white-space: pre-wrap;
  overflow: scroll;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow: -moz-scrollbars;
}
    
.mnspc {
  font-family: monospace;
  font-style: normal;
  font-size: 0.9em;
}
    
.ntp {
  resize: none;
  white-space: nowrap;
  max-height: 150px;
  min-height: 50px;
  overflow-x: scroll;
}