<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>jq</title>
  <meta name="description" content="jq">
  <meta name="author" content="oiale">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jq_style.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]--> 
</head>

<body style="background-color:white">

  <div class="modal fade" id="examples_modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Frequently used</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="examples_modal_body">          
          <div class="container">
            <div class="row">
              <label>Extract nth element of an array</label>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <label id="example_output_0">.[ind]</label>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mr-2" id="button_append_0">Append</button>
                <button class="btn btn-primary mr-2" id="button_replace_0">Replace</button>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="container">
            <div class="row">
              <label>Extract range</label>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <label id="example_output_1">.[from:to]</label>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mr-2" id="button_append_1">Append</button>
                <button class="btn btn-primary mr-2" id="button_replace_1">Replace</button>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="container">
            <div class="row">
              <label>Restrict to an interesting field and put in in an object</label>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <label id="example_output_2" expr="{%New Name%:.%Old Name%}">{new_name:.old_name}</label>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mr-2" id="button_append_2">Append</button>
                <button class="btn btn-primary mr-2" id="button_replace_2">Replace</button>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="container">
            <div class="row">
              <label>Interesting field is an array of objects with another interesting field</label>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <label id="example_output_3">{new_name:[.old_name[].inside_field]}</label>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mr-2" id="button_append_3">Append</button>
                <button class="btn btn-primary mr-2" id="button_replace_3">Replace</button>
              </div>
            </div>
          </div>
          <hr>
          
          <div class="container">
            <div class="row">
              <label>Filter by boolean condition</label>
            </div>
            <div class="row justify-content-between">
              <div class="col-6 mt-2">
                <label id="example_output_4">select(condition)</label>
              </div>
              <div class="float-right">
                <button class="btn btn-primary mr-2" id="button_append_4">Append</button>
                <button class="btn btn-primary mr-2" id="button_replace_4">Replace</button>
              </div>
            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <a href="https://stedolan.github.io/jq/manual/" target="_blank"> Full manual </a>
        </div>
      </div>
    </div>
  </div>
  
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top" style="height:20px">
        <label class="btn btn-outline-secondary mx-auto" id="examples_modal_toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16"><path fill-rule="evenodd" d="M5 11L0 6l1.5-1.5L5 8.25 8.5 4.5 10 6z"/></svg>
        </label>
    </nav>
  
  <div class="container-fluid p-2" style="height:50px;" id="topbar_div">  
    <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Main toolbar">
      
      <div class="btn-group mr-2" role="group" data-toggle="buttons">
        <label class="btn btn-primary mr-2" tabindex="3" id="run_it"> Run
        </label>
        <label class="btn btn-outline-success" id="is_raw_output_button">
          <input type="checkbox" autocomplete="off" id="is_raw_output" tabindex="-1"> --raw-output
        </label>
        <label class="btn btn-outline-success" id="is_sort_keys_button">
          <input type="checkbox" autocomplete="off" id="is_sort_keys" tabindex="-1"> --sort-keys
        </label>
      </div>
      
      <div class="btn-group mr-2 float-right text-right" role="group">
        <label class="btn btn-secondary" id="reset_all"> Reset
        </label>
      </div>
      
    </div>
  </div>
  
  <div class="container-fluid row" id="big_container">
    <div class="container-fluid p-2 col-lg-6">
      <div class="p-2" id="script_div">
        <textarea class="form-control ntp mnspc" id="script_input" placeholder="." rows="1" tabindex="2"></textarea>
      </div>
      
      <div class="p-2" id="input_div">
        <textarea class="form-control nrta mnspc" id="json_input" tabindex="1"></textarea>
      </div>
    </div>
    
    <div class="container-fluid p-2 col-lg-6" id="output_div">
      <textarea class="form-control nrta mnspc" id="json_output" readonly="readonly" tabindex="-1" style="border-style: solid; border-width: 3px; border-color: transparent;"></textarea>
    </div>
  </div>
  
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jq_script.js"></script>
  
  <script>
    
  </script>
</body>
</html>